Repository vveliev/ci, changes with the labels that .github/labeler.yml gives for each.
All labels: changes existing API, bug, CI, dependencies, docs, github-actions, linters, packaging, testing

fix: update spaces
  README.md
Labels: docs

chore: adopt claude-harness plugin marketplace
  .claude/settings.json
Labels: none

fix(ci): stop the weekly ci-init failure and clear the Node 20 deprecation
  .github/workflows/aws-terraform-plan-apply.yml
  .github/workflows/aws-tofu-plan-apply.yml
  .github/workflows/build-docker.yml
  .github/workflows/ci-autoupdate-github-action.yml
  .github/workflows/ci-autoupdate-precommit.yml
  .github/workflows/ci-github-pr-lable-size.yml
  .github/workflows/ci-github-pr-title-conventional-commit.yml
  .github/workflows/ci-init.yml
  .github/workflows/precommit.yml
  .github/workflows/release.yml
Labels: github-actions, packaging

fix(ci): stop the weekly ci-init failure and clear the Node 20 deprecation (#54)
  .github/workflows/aws-terraform-plan-apply.yml
  .github/workflows/aws-tofu-plan-apply.yml
  .github/workflows/build-docker.yml
  .github/workflows/ci-autoupdate-github-action.yml
  .github/workflows/ci-autoupdate-precommit.yml
  .github/workflows/ci-github-pr-lable-size.yml
  .github/workflows/ci-github-pr-title-conventional-commit.yml
  .github/workflows/ci-init.yml
  .github/workflows/precommit.yml
  .github/workflows/release.yml
Labels: github-actions, packaging

chore: tighten workflow permissions and docs (#52)
  .github/workflows/aws-terraform-plan-apply.yml
  .github/workflows/aws-tofu-plan-apply.yml
  .github/workflows/ci-autoupdate-github-action.yml
  .github/workflows/ci-init.yml
  .github/workflows/precommit.yml
  .github/workflows/release.yml
  README.md
  release.config.js
Labels: docs, github-actions, packaging

fix(ci): bump github-actions-version-updater past EOL Debian buster base
  .github/workflows/ci-autoupdate-github-action.yml
Labels: github-actions

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: CI, linters

fix(ci): bump github-actions-version-updater past EOL Debian buster base (#55)
  .github/workflows/ci-autoupdate-github-action.yml
Labels: github-actions

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: CI, linters

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: CI, linters

fix(ci): bump actions updater past Bullseye image
  .github/workflows/ci-autoupdate-github-action.yml
Labels: github-actions

fix(ci): bump actions updater past Bullseye image (#68)
  .github/workflows/ci-autoupdate-github-action.yml
Labels: github-actions

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: CI, linters

chore(agents): align Codex and Claude harness
  .agents/plugins/marketplace.json
  .claude/settings.json
  .codex/config.toml
  AGENTS.md
  CLAUDE.md
Labels: none

fix(ci): let actions updater create pull requests
  .github/workflows/ci-autoupdate-github-action.yml
Labels: github-actions

fix(ci): let actions updater create pull requests (#70)
  .github/workflows/ci-autoupdate-github-action.yml
Labels: github-actions

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: CI, linters

fix(ci): use workflow-capable token for action updates
  .github/workflows/ci-autoupdate-github-action.yml
Labels: github-actions

.github/labeler.yml:

# This file defines which GitHub labels get applied when files
# matching certain minimatch glob patterns are changed.
#
# Documentation: https://github.com/actions/labeler#pull-request-labeler
#
# If a label includes a space or a pattern begins with an asterisk or
# special character, enclose it in quotes.
---
'changes existing API':
- changelog/*.breaking*.rst

bug:
- changelog/*.bugfix*.rst

'CI':
- .ci/**/*
- .github/workflows/*test*.yml
- .pre-commit-config.yaml


dependencies:
- package.txt

docs:
- .readthedocs.yml
- changelog/*doc*.rst
- docs/**/*
- README.md

'github-actions':
- .github/**/*

linters:
- .sourcery.yaml
- .pre-commit-config.yaml

packaging:
- .github/workflows/*publish*
- .github/workflows/*release*
- .zenodo*
- CITATION.cff
- LICENSE.md
- MANIFEST.in
- PATENT.md
- pyproject.toml
- setup.*

testing:
- '**/test*.py'
- '**/conftest.py'
- .github/workflows/weekly.yml
- .codecov.yaml
- noxfile.py
- tox.ini
