Repository vveliev/ci, changes with the labels that .github/labeler.yml gives for each.
All labels: changes existing API, bug, CI, dependencies, docs, github-actions, linters, packaging, testing

chore: update pre-commit hooks (#24)
  .pre-commit-config.yaml
Labels: CI, linters

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: CI, linters

chore: update pre-commit hooks (#33)
  .pre-commit-config.yaml
Labels: CI, linters

feat: adding option for backend init
  .github/workflows/terraform-plan.yml
Labels: github-actions

fix: update action
  .github/workflows/terraform-plan.yml
Labels: github-actions

fix: updating backend config
  .github/workflows/terraform-plan.yml
Labels: github-actions

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: CI, linters

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: CI, linters

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: CI, linters

fix: updating docker tags
  .github/workflows/build-docker.yml
Labels: github-actions

fix: update docker build
  .github/workflows/build-docker.yml
Labels: github-actions

fix: update configs
  .github/workflows/build-docker.yml
Labels: github-actions

fix: updating version
  .github/workflows/build-docker.yml
Labels: github-actions

fix: add repository
  .github/workflows/build-docker.yml
Labels: github-actions

fix: update push step
  .github/workflows/build-docker.yml
Labels: github-actions

fix: update variable
  .github/workflows/build-docker.yml
Labels: github-actions

fix: add missing line
  .github/workflows/build-docker.yml
Labels: github-actions

fix: numberr 38453
  .github/workflows/build-docker.yml
Labels: github-actions

fix: update lint
  .github/workflows/build-docker.yml
Labels: github-actions

fix: updating docker tags (#40)
  .github/workflows/build-docker.yml
Labels: github-actions

feat: add support for different runners, option to disable upload
  .github/workflows/ci-init.yml
Labels: github-actions

fix: updsating runs-on labels
  .github/workflows/build-docker.yml
  .github/workflows/ci-init.yml
Labels: github-actions

feat: add support for different runners, option to disable upload (#41)
  .github/workflows/build-docker.yml
  .github/workflows/ci-init.yml
Labels: github-actions

fix: add default value for the repository
  .github/workflows/build-docker.yml
Labels: github-actions

fix: add default value for the repository (#42)
  .github/workflows/build-docker.yml
Labels: github-actions

fix: backword compatability
  .github/workflows/build-docker.yml
Labels: github-actions

fix: backword compatability (#43)
  .github/workflows/build-docker.yml
Labels: github-actions

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: CI, linters

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: CI, linters

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: CI, linters

feat: adding option for terraform apply
  .github/workflows/terraform-plan-apply.yml
Labels: github-actions

chore: rebase with main
  .github/workflows/terraform-plan-apply.yml
Labels: github-actions

feat: adding tofu and terraform workflows
  .github/workflows/aws-terraform-plan-apply.yml
  .github/workflows/aws-tofu-plan-apply.yml
Labels: github-actions

feat: adding option for terraform apply (#23)
  .github/workflows/aws-terraform-plan-apply.yml
  .github/workflows/aws-tofu-plan-apply.yml
Labels: github-actions

feat: adding dart support
  .github/workflows/precommit.yml
  .pre-commit-config.yaml
Labels: CI, github-actions, linters

feat: adding dart support (#45)
  .github/workflows/precommit.yml
  .pre-commit-config.yaml
Labels: CI, github-actions, linters

feat: adding flutter
  .github/workflows/precommit.yml
Labels: github-actions

feat: adding flutter (#46)
  .github/workflows/precommit.yml
Labels: github-actions

feat: github workflow for flutter unit tests with coverage
  .github/workflows/sdk/flutter/flutter-test.yml
Labels: github-actions

chore: tighten workflow permissions and docs
  .github/workflows/aws-terraform-plan-apply.yml
  .github/workflows/aws-tofu-plan-apply.yml
  .github/workflows/ci-autoupdate-github-action.yml
  .github/workflows/ci-init.yml
  .github/workflows/precommit.yml
  .github/workflows/release.yml
  README.md
  release.config.js
Labels: docs, github-actions, packaging

.github/labeler.yml:

# This file defines which GitHub labels get applied when files
# matching certain minimatch glob patterns are changed.
#
# Documentation: https://github.com/actions/labeler#pull-request-labeler
#
# If a label includes a space or a pattern begins with an asterisk or
# special character, enclose it in quotes.
---
'changes existing API':
- changelog/*.breaking*.rst

bug:
- changelog/*.bugfix*.rst

'CI':
- .ci/**/*
- .github/workflows/*test*.yml
- .pre-commit-config.yaml


dependencies:
- package.txt

docs:
- .readthedocs.yml
- changelog/*doc*.rst
- docs/**/*
- README.md

'github-actions':
- .github/**/*

linters:
- .sourcery.yaml
- .pre-commit-config.yaml

packaging:
- .github/workflows/*publish*
- .github/workflows/*release*
- .zenodo*
- CITATION.cff
- LICENSE.md
- MANIFEST.in
- PATENT.md
- pyproject.toml
- setup.*

testing:
- '**/test*.py'
- '**/conftest.py'
- .github/workflows/weekly.yml
- .codecov.yaml
- noxfile.py
- tox.ini
